<mat-toolbar color="primary">
    <span>
        <a routerLink="/">MyMessages</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <button mat-button routerLink="/create" routerLinkActive="mat-accent">
                New Post
            </button>
        </li>
        <li>
            <button mat-button routerLink="/login" routerLinkActive="mat-accent">
                Login
            </button>
        </li>
        <li>
            <button mat-button routerLink="/signup" routerLinkActive="mat-accent">
                SignUp
            </button>
        </li>
    </ul>
</mat-toolbar>
